.photo-main-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 70vh;
    /* padding: .8rem; */
    justify-content: space-between;
    /* justify-items: center; */
    justify-items: end;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cover-container {
    width: 100%;
    /* flex-wrap: wrap; */
}

.cover h1 {
    padding: 0px 20px;
    /* align-self: center;
    justify-self: center; */
    margin-bottom: 0;
}

.cover-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    /* grid-template-columns: 1fr; */
    padding: 0px 0px 1rem 0px;
    /* align-self: center; */
    grid-gap: 1rem;

}

.cover {
    width: 100%;
    /* min-width: 6rem; */
    height: 10rem;
    border-radius: 10px;
    font-weight: bold;
    /* position: relative; */
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    /* margin-right: 0px; */
    cursor: pointer;
    /* opacity: .4; */
    box-shadow: 5px 5px 15px rgb(39, 39, 39, 0.5);
}

.cover:hover {
    transition: 500ms;
    filter: brightness(1.2);
    /* opacity: 0.8; */
}

.cover.inactive {
    opacity: .2;
    box-shadow: none;
}

/* .cover img {
    border-radius: 5px;
    width: 100px;
    height: 65px;
} */

.cover .textos {
    height: 100%;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.textos h4 {
    padding: .8rem;
    margin: 0;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.album-container {
    /* display: flex; */
    min-width: 70%;
    /* padding: 0px 20px 20px 20px; */
    padding-bottom: 1rem;
}

.album {
    animation-fill-mode: forwards;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    /* width: 80%; */
    /* padding: 0px 0px 0px .8rem; */
    grid-gap: 1rem;
    justify-items: center;
    /* height: 50vh; */
}

.album-grid div {
    padding: 0;
    margin: 0;
}

/* .album.active {
    display: block;
} */

.album-grid img {
    display: block;
    width: 6rem;
    height: 4.5rem;
    /* min-width: 100px; */
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    background-position: center center;
    box-shadow: 5px 5px 15px rgb(39, 39, 39, 0.5);
}

.album-grid img:hover {
    transition: 100ms;
    filter: brightness(1.2);
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img-container {
    display: flex;
    position: relative;
}

#prev-photo {
    z-index: 1010;
    /* position: fixed; */
    /* top: 0; */
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* display: flex; */
    float: 'left';
    position: absolute;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: baseline;
    opacity: .5;
}

#next-photo {
    z-index: 1010;
    /* position: fixed; */
    /* top: 0; */
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* display: flex; */
    float: 'right';
    position: absolute;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: end;
    opacity: .5;
}

#prev-photo p {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    padding: 0px 20px;
    margin: 0;
}

#next-photo p {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    padding: 0px 20px;
    margin: 0;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox .img-container img {
    display: block;
    z-index: 1020;
    max-width: 90vw;
    max-height: 90vh;
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* padding: 0px; */
    background-color: black;
    border: 8px solid white;
    border-bottom: 30px solid white;
    border-radius: 2px;
}

@media (max-width: 800px) {
    .album-container {
        min-width: 90%;
    }
}