.photo-main-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 70vh;
    padding-top: 10px;
    /* justify-content: center;
    align-content: center; */
}

/* .cover-container {
    width: 40%;
    flex-wrap: wrap;
} */

.cover h1 {
    padding: 0px 20px 0px 20px;
    /* align-self: center;
    justify-self: center; */
    margin-bottom: 0;
}

.cover-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    /* grid-template-columns: 1fr; */
    padding: 0px 0px 20px 0px;
    /* align-self: center; */
    grid-gap: 20px;

}

.cover {
    min-width: 100px;
    height: 160px;
    border-radius: 10px;
    font-weight: bold;
    /* position: relative; */
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    margin-right: 0px;
    cursor: pointer;
    /* opacity: .4; */
    box-shadow: 5px 5px 15px rgb(39, 39, 39, 0.5);

}

.cover.inactive {
    opacity: .2;
}

/* .cover img {
    border-radius: 5px;
    width: 100px;
    height: 65px;
} */

.cover .textos {
    height: 100%;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 3px 3px 15px rgb(39, 39, 39);
    font-family: 'Roboto', sans-serif;
}

.textos h4 {
    padding: 20px;
    margin: 0;
}

/* .album-container {
    display: flex;
    width: 60%;
    padding: 0px 20px 20px 20px;
} */

/* .album {
    position: relative;
    animation-fill-mode: forwards;
} */

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    /* width: 100%; */
    padding: 0px 0px 0px 40px;
    grid-gap: 20px;
    /* justify-content: space-around; */
    /* align-content: center; */
    /* height: 50vh; */
}

/* .album.active {
    display: block;
} */

.album-grid img {
    width: 120px;
    height: 70px;
    /* min-width: 100px; */
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    background-position: center center;
    box-shadow: 5px 5px 15px rgb(39, 39, 39, 0.5);
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 0px;
    background-color: black;
    border: 8px solid white;
    border-bottom: 40px solid white;
    border-radius: 2px;
}