@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 0 10px; */
    padding: .8rem;

    flex-grow: 1;
}

/* .full-height-grow {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} */

.navbar {
    box-shadow: 5px 5px 15px rgb(39, 39, 39, 0.2);
    top: 0;
    position: sticky;
    opacity: 0.9;
}

.navbar .container {
    display: flex;
    /* height: 100%; */
    /* justify-content: space-between; */
    /* align-content: center; */
    /* align-items: center; */
    background-color: white;
    /* padding: 10px 10px; */
    /* padding: 10px; */
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    text-decoration: none;
    /* margin: 10px; */
}

.brand-logo img {
    display: block;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.navbar-links li a {
    color: rgb(75, 75, 75);
    text-decoration: none;
    padding: .8rem;
    display: block;
    border-radius: 3px;
}

.navbar-links a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(190, 190, 190);
    width: 100%;
}

.toggle-button {
    position: absolute;
    display: none;
    top: .75rem;
    right: .8rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar .container {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links li {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .navbar-links li a {
        padding: 0.05rem 0.5rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .main-footer span {
        font-size: 0.8rem;
    }
}

.navbar,
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.main-section {
    display: grid;
    min-height: 80vh;
    padding-bottom: 2rem;
    /* padding: 10px 10px; */
    /* justify-content: center;
    align-content: center; */
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(214, 192, 255);
}

/* .main-container>* {
    position: relative;
    margin: 10%;
}

.main-container .flexLabel {
    flex-shrink: 0;
} */

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    color: rgb(75, 75, 75);
    background-color: rgb(190, 190, 190);
    /* position: sticky; */
    /* bottom: 0%; */
}

.main-footer {
    font-size: 1rem;
}

.main-footer .container {
    display: flex;
    justify-content: center;
}