@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    flex-grow: 1;
}

/* .full-height-grow {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} */

.navbar .container {
    display: flex;
    /* height: 100%; */
    justify-content: space-between;
    /* align-content: center; */
    /* align-items: center; */
    background-color: white;
    position: sticky;
    top: 0%;
    padding: 10px 10px;
    box-shadow: 5px 5px 15px rgb(39, 39, 39, 0.2);
    padding: 10px;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    text-decoration: none;
    /* margin: 10px; */
}

.brand-logo img {
    display: block;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    border-radius: 3px;
}

.navbar-links a:hover {
    color: rgb(100, 100, 100);
    background-color: rgb(200, 200, 200);
    width: 100%;
}

.toggle-button {
    position: absolute;
    display: none;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;

    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links li {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .navbar-links li a {
        padding: 0.05rem 0.5rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.navbar,
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.main-section {
    display: grid;
    min-height: 80vh;
    padding: 10px 10px;
    /* justify-content: center;
    align-content: center; */
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(214, 192, 255);
}

/* .main-container>* {
    position: relative;
    margin: 10%;
}

.main-container .flexLabel {
    flex-shrink: 0;
} */

.main-footer {
    height: 70px;
    color: rgb(0, 0, 0);
    background-color: rgb(201, 201, 201);
    /* position: sticky; */
    /* bottom: 0%; */
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}